* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    /*para que las anclas no tengan el subrayado */
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

.margen-interno {
    padding: 0 50px;

}

.header {
    /* el margen negro que cubre todos los cuadros*/
    background-image: url(../ejercicio2/imagenes/lago.jpg);
    /* los dos puntos = a que retroseda un lugar en el directorio */
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
}

.menu {
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    flex-flow: row nowrap;
    height: 60px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255)
}

.logo {
    flex: 1 1 auto;
}

.logo a {
    /*de esta forma se le da color lo que esta escrito en el ancla <a>*/
    color: #fff;
}

.logo a:hover {
    color: #495C83;
    font-size: 30px;
}

.nav {
    flex: 5 1 auto;
}

.nav a {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
    /*para que las letras tengan un espacio de separación */
}

.nav a:hover {
    color: #495C83;
}
.social {
    flex: 1 1 auto;
}

.social a {
    font-size: 18px;
    color: #fff;
    padding: 0 5px;
}

.social a:hover {
    color: #495C83;
}

.texto-principal {
    /*background-color: #f07b3f; */
    height: 580px;
    display: flex;
    align-items: center;

}

h1 {
    font-family: 'Lora', serif;
    font-size: 21px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    line-height: 1.6;
}

.section {
    background-color: #f7f7f7;
    display: flex;
}

.articulos {
    background-color: #f7f7f7;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
}

.article {
    flex: 1 1 40%;
    color: #444;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 10px 10px 0 0px;
    flex: 1 1 45%;
    background: #ececec;
}

.article img {
    width: 100%;
}

.article a {
    color: #fff;
    font-size: 13px;
    padding: 10px;
    background: #000;
    margin: 10px 0;
    display: inline-block;
}

.article a:hover {
    background: #546cc3;
}

.article p {
    padding: 5% 1%;
}

h3 {
    color: #fff;
    font-size: 13px;
    padding: 10px 0;
    margin-top: -80px;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    padding: 0px 0 10px 0px;
    color: #fff;
}

.navegacion {
    background-color: #000;
    flex: 1 1 100%;
    margin: 10px 10px 0 0px;

}

.navegacion a {
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
}

.aside {
    /*background-color: #ffea85;*/
    flex: 1 1 auto;
    margin: 10px 5px 10px 0;
}

.aside img {
    width: 100%;
}

h4 {
    background: #000;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
}

/* .publicidad{
                   background: color #ffea85;
                } */
.footer {
    background-color: #000;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pie {
    /*background: #FF9F29; */
    text-align: center;
}

.pie a {
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;

}


@media all and (max-width: 1110px) {
    .section {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
        height: auto;
    }

    .aside {
        display: flex;
        justify-content: column;
    }

    h1 {
        font-size: 15px;
    }

    .texto-principal {
        height: 450px;
    }
}

@media all and (max-width: 762px) {
    .articulos {
        flex-direction: column;
    }

    h1 {
        font-size: 15px;
    }
}

@media all and (max-width: 762px) {}

@media all and (max-width: 400px) {
    .aside {
        flex-direction: column;

    }
}
